html,section,div,body,h1,h2,h3,p,ul,li,img,a,head,b {
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
  height: 100%;
  color: #000;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
}
.fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  text-transform: uppercase;
}
footer, header, main, nav, section {
  display: block;
}
.vista {
  position: absolute;
  top: 0;
  left: 90%;
}
.fixed-top ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.fixed-top ul li {
  float: left;
}
.fixed-top ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.fixed-top ul li a:hover {
  background-color: #111;
}
.fixed-top h1 {
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
}
.overview-content p, .about-us-content p {
  font-size: 14px;
  padding-top: 50px;
  line-height: 1.7em;
}
.right {
  float: right;
}
.container {
  margin: 0;
  padding: 0;
}
.home {
  text-align: center;
  background: #f3f;
}
.overview-content {
  margin-top: -10px;
  padding: 250px;
  text-align: center;
  background: #F18928;
}
.usps-content {
  display: block;
  margin: 0;
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 50px;
  padding-right: 50px;
  background: #33FFC1;
}
.usps-content .usps-content-list {
  padding-left: 70px;
  padding: 36px;
  border-right: 3px solid #000;
}
.usps-content #left {
  overflow: hidden;
  float: left;
}
.usps-content #right {
  float: right;
}
.usps-content-list li {
  list-style-type: none;
  font-size: 20px;
  line-height: 1.5em;
}
.about-us-content {
  padding: 250px;
  text-align: center;
  background: #F18928;
}
.amenities-content {
  color: #fff;
  padding: 200px;
  text-align: center;
  background: #000;
}
#specification {
  padding: 100px;
}
#specification img {
  float: left;
  -webkit-filter: invert(1);
  filter: invert(100%);
}
.specification-content .specs {
  padding: 50px;
}
.specs b {
  padding-top: 30px;
  font-size: 17px;
}
.specification-content h1 {
  float: left;
  padding-left: 20px;
  color: #000;
}
.specs p {
  line-height: 1.7em;
  font-size: 14px;
  padding-bottom: 30px;
}
.hall-content {
  margin-top: -10px;
}
#floor-plan {
  background: #fff;
}
.floor-plan-content {
  margin-top: -10px;
  text-align: center;
}
.floor-plan-content img {
  padding: 15px;
}
.floor-plan-content h1 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.gallary {
  text-align: center;
  background: #3e3;
}
#contact-us {
  padding: 200px;
  background: #27A5FC;
}
.contact-us-content {
text-align: center;
margin-right: 5rem;
}
.contact-us-heading {
  float: left;
}
.contact-us-heading h1 {
    font-size: 100px;
    padding-right: 50px;
    border-right: 3px solid #000;
}

.contact-us-address {
  margin-left: 20px;
  font-size: 15px;
}
.font-weight {
  font-weight: 500;
}
